extends layout

block content

  div(class='header')
    h1 Omega
    p The new Alpha, right now in Beta 
  br
  br
  br
  div(class='login-buttons')
    div(class='button-admin')
      a(href='/loginAdmin') Login as Admin
    div(class='button-teacher')  
      a(href='/loginTeacher') Login as Teacher
    div(class='button-student')
      a(href='/loginStudent') Login as Student  
